* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
 
body {
    font-family: 'Metal Mania', cursive;
    background: #000
}
.bg-navegador {
    background: #000;
}

.nav-item {
    /* font-family: 'Metal Mania', cursive; */
    font-size: 24px;    
}

.nav-item a{
    color: #fff
}

.nav-item a:hover{
    color: red;
}

.contenedor h1,
.contenedor p {
    color: #fff;
}
.h1 {
    font-size: 45px;
}
.suscribete {
    font-size: 27px;
}

.btn {
    font-size: 20px;
}
.wacken {
    width: 100%;
}

.terminos a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.terminos a:hover {
    color: green;
}